<% counts.each do |field, count| %>
  <h3><%= field.capitalize %></h3>
  <% if query_vars.include? field %>
    <%= query_vars[field] %> (<a href="?<%= remove_query(field) %>">Remove</a>)
  <% else %>
    <ul>
    <% count.each do |hash| %>
      <li>
        <% if hash[field].to_s.empty? %>
          <a href="?<%= append_query field => "" %>">unknown</a>
        <% else %>
          <a href="?<%= append_query field => hash[field] %>"><%= hash[field] %></a>
        <% end %>
        (<%= hash["count"].to_i %>)
      </li>
    <% end %>
    </ul>
  <% end %>
<% end %>
