<h2 class="lead">
  <%= @domain.host %><br />
  <small><%= @domain.agency.name %></small>
</h2>

<div class="row">
<% Domain::FIELDS.each_with_index do |hash, index| %>
  <div class="col-md-4">
    <h3><%= format_key(hash[0])%></h3>
    <table class="table">
      <% hash[1].each do |field| %>
        <%= row_for field %>
      <% end %>
    </table>
  </div>
  <% if (index + 1) % 3 == 0 %>
    </div>
    <div class="row">
  <% end %>
<% end %>

  <div class="col-md-4">
    <h3>Meta</h3>
    <p>Link: <a href="<%= @domain.uri %>"><%= @domain.host %></a></p>
    <p class="last-checked">Last checked <%= time_ago_in_words(@domain.updated_at) %> ago</p>
  </div>

</div>
