<h2 class="lead">
  <%= @domain.host %><br />
  <small><%= @domain.agency.name %></small>
</h2>

<h3>Basics</h3>
<table>
  <%= row_for :government %>
  <%= row_for :live %>
  <%= row_for :ssl, "SSL (HTTPS)" %>
  <%= row_for :enforce_https, "SSL Enforced" %>
  <%= row_for :non_www, "Non-www support" %>
</table>

<h3>Network</h3>
<table>
  <%= row_for :ip, "IP" %>
  <%= row_for :hostname %>
  <%= row_for :ipv6, "IPv6" %>
  <%= row_for :dnssec, "DNSSEC" %>
  <%= row_for :cdn, "CDN" %>
  <%= row_for :google_apps %>
  <tr>
    <th>Cloud Provider</th>
    <td>:soon:</td>
  </tr>
</table>

<h3>Technology</h3>
<table>
  <%= row_for :server %>
  <%= row_for :cms, "CMS" %>
  <tr>
    <th>Analytics</th>
    <td>
      <ul>
        <% @domain.analytics.each do |a| %>
          <li><%= a %></li>
        <% end %>
      </ul>
    </td>
  </tr>
  <%= row_for :javascript %>
  <tr>
    <th>Advertising</th>
    <td>:soon:</td>
  </tr>
</table>

<h3>Compliance</h3>
<table>
  <%= row_for :slash_data, "/data" %>
  <%= row_for :slash_developer, "/developer" %>
  <%= row_for :data_dot_json, "/data.json" %>
</table>

<h3>Security Headers</h3>
<table>
  <%= row_for :xss_protection %>
  <%= row_for :strict_transport_security %>
  <%= row_for :content_security_policy %>
  <%= row_for :click_jacking_protection %>
  <%= row_for :secure_cookies %>
</table>

<%= link_to 'Back', domains_path %>
